# Delphi build output
Win32/
Win64/

# Compiled units
*.dcu

# Executables
*.exe

# Delphi temporary files
*.identcache
*.local
*.stat
*.dsk

# Backup/history
__history/

# Debug files
*.rsm
*.tds

# Log files
*.log